gcp_region = "us-central1"
project_id = "typescript-fullstack-onboard"
project_number = "998684226932"

domain_name = "sandbox.keiyousya.com"
vite_api_base_url = "https://sandbox.keiyousya.com/api"

db_name = "typescript-fullstack-onboard"
db_migration_user = "migration-user"
db_app_user = "app-user"

app_installation_id = "78662661"
github_token = "your_access_token"